# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
.yarn-cache

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# Misc
.DS_Store

# Env
.env

# Build directory
dist
